{% extends "base_layout.html" %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark yaksh-nav">
        <a class="navbar-brand" href="{% url 'permissions:home' %}">{{ user | title }}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item">
                    <a class="nav-link yaksh-navlink" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock nav %}

{% block content %}

    <h1>Permissions</h1>

    <div>
        Teams

        <ol>
        {% for team in teams %}
            <li>
                <a href="{% url 'permissions:team_detail' team.id %}">{{team}}</a>
            </li>
        {% endfor %}
        </ol>
    </div>

    <form action="{% url 'permissions:create_team' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Team name" name="team_name">
        <select name="members" multiple>
            {% for s_user in users %}
                <option value="{{s_user}}">{{s_user}}</option>
            {% endfor %}
        </select>
        <select name="courses" multiple>
            {% for course in courses %}
                <option value="{{course.id}}">{{course}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add team" class="button">
    </form>

{% endblock content %}